/*reglas generales*/
* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
}

/*Encabezado*/

header {
    text-align: center;
    background-color: orangered;
}

#iconoHeader {
    width: 40px;
    display: inline;
}

header > h1 {
    display: inline;
    font-family: 'Play', sans-serif;
}

/*Formulario búsqueda*/
form#peaksSearchEngine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form#peaksSearchEngine > label, form#peaksSearchEngine > input, form#peaksSearchEngine > select {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

form#peaksSearchEngine > button {
    display: block;
    width: 50%;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
}

/*map*/
#map {
    height: 300px;
    width: 100%;
}

/* LOADING... ANIMATION */
.loader {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.lodader, .loader h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-shadow: 1px 1px 2px #FFA500;
}

.loader span:nth-child(1) {
    border-radius: 34% 66% 65% 35% / 35% 32% 68% 65%;
    box-shadow: 3px 3px 3px #FFA500;
}

.loader span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 44% 56% 34% 66% / 68% 61% 39% 32%;
    box-shadow: 3px 3px 3px #FFA500;
}

.loader span:nth-child(3) {
    animation-duration: 1s;
    border-radius: 75% 25% 65% 35% / 68% 73% 27% 32%;
    box-shadow: 3px 3px 3px #FFA500;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    pointer-events: none;
    animation: animate 0.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

/*Resultados búsqueda*/
.mountainCard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mountainCard > article {
    width: 100%;
}

.mountainCard > article > h3, .mountainCard > article > p {
    padding-left: 10px;
}

.mountainCard>article:first-child {
    padding-top: 10px;
}

.mountainCard>article:last-child {
    padding-bottom: 10px; /*no está funcionando y no sé xq...*/
}

.mountainCard>img {
    width: 100%;
}

/* CSS PRUEBAS */
.mountainCard {
    border: 1px solid black;
}

/*
MEDIA QUERIES:
previo: moviles inferior 375px (tamaño M)
1er MQ: móviles superior a 375px
*/
@media only screen and (min-width: 400px) {
}

/*
2º MQ: tablets
*/
@media only screen and (min-width: 768px) {
}

/*
3º MQ: desktop
*/
@media only screen and (min-width: 1280px) {
    /*weather*/
    .currentWeather {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .currentWeather > h4 {
        display: block;
        width: 100%;
    }

    .currentWeather > p {
        display: block;
        width: 5%;
    }

    .weatherForecast {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .weatherForecast > h4 {
        display: block;
        width: 100%;
    }

    .weatherForecast > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 14%;
    }

    .weatherForecast > section > p {
        display: block;
        width: 50%;
    }

    .weatherForecast > section > p#dayOfWeek {
        width: 100%;
    }
}

/*
PALETA DE COLORES (CHAT GPT):
Negro: #000000
Naranja: #FFA500
Blanco: #FFFFFF
Gris oscuro: #333333
Naranja claro: #FFD700
*/